<div class="auth-main">
  <div class="header ">
    <img src="../../assets/img/logo.png" />
  </div>
  <div class="login-box layout-align-center-center layout-column">
    <form [formGroup]="form" name="form" (ngSubmit)="onSubmit(form.value)"
      class="layout-column layout-align-center-center" novalidate>
      <h3>Member Login <img src="../../assets/img/hand.png" /></h3>
      <!-- Input Email Text box -->
      <div class="input-group">
        <input formControlName="email" [(ngModel)]="email" type="email" class="form-control with-primary-addon"
          placeholder="Email" aria-describedby="basic-addon1"
          [ngClass]="{ 'is-invalid form-control-danger': form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched) }">
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
          class="invalid-feedback">
          <div *ngIf="form.controls['email'].errors.required">Email is required</div>
          <div *ngIf="form.controls['email'].errors.minlength">Email not less than four
            digits.</div>
          <div *ngIf="form.controls['email'].errors.email">Not Email Format</div>
        </div>
      </div>
      <!-- Input Password Text box -->
      <div class="input-group">
        <input formControlName="password" [(ngModel)]="password" type="password" class="form-control with-primary-addon"
          placeholder="Enter Password" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid form-control-danger': form.controls['password'].invalid && (form.controls['password'].dirty 
              || form.controls['password'].touched) }">
        <div
          *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
          class="invalid-feedback">
          <div *ngIf="form.controls['password'].errors.required">Password is required</div>
          <div *ngIf="form.controls['password'].errors.minlength">Password is not less than four
            digits.</div>
        </div>
      </div>
      <button [disabled]="form.invalid" type="submit">Log In</button>
    </form>

  </div> <a href="/forgotPassword">Forgot your password?</a>
</div>